body {
  background-color: #ffffff;
  }
      
#textstyle {
  color:#777777
  font-type: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }

header {
  background-color: #ffffff;
  }

h2 {
  color:#4aaaa5
  font-family: 'Georgia', Times, Times New Roman, serif;
}

/* Code to reorient the profile & tiger photos */
.rotate {
  transform: rotate(90deg);
  }    
      